---
import AboutHeroImage from "../assets/blog-placeholder-about.jpg";
import Layout from "../layouts/BlogPost.astro";
---

<Layout
	title="关于我"
	description="我是不求神，一名全栈开发者，致力于为在意大利的华人提供帮助。"
	pubDate={new Date("January 06 2026")}
	heroImage={AboutHeroImage}
>
	<p>
		你好！欢迎来到我的个人空间。我是 <strong>不求神</strong> (buqiushen)，一名充满热情的全栈开发者。
	</p>

	<p>
		我创建这个网站的初衷是为了记录和展示我的个人项目与想法。你可以把它看作是我的一个数字化名片，
		就像我的另一个站点 <a href="https://wwww.devforfuture.top"
			>devforfuture.top</a
		> 一样，旨在探索技术的无限可能。
	</p>

	<p>
		除了编写代码，我也活跃在 YouTube 上。我的频道 <a
			href="https://www.youtube.com/@buqiushen">@buqiushen</a
		>
		专注于为在意大利生活的华人提供实用的生活指南。我制作了一系列关于意大利行政手续的详细教程，包括：
	</p>
	<ul>
		<li>意大利各类证件与文件申请</li>
		<li>在线操作指南与办事技巧</li>
		<li>ISEE (家庭经济状况指标) 办理流程</li>
		<li>730 税务申报指导</li>
		<li>以及更多帮助华人融入意大利生活的实用信息</li>
	</ul>

	<p>
		<strong>我的使命：</strong> 我致力于开发一系列应用、工具和网站，旨在打破语言障碍和信息差，
		为在意大利的华人同胞提供切实的便利。通过技术的力量，让繁琐的行政流程变得更加透明和容易掌握，
		让在异国他乡的生活更加从容。
	</p>

	<p>
		感谢你的关注，如果你有任何建议或合作意向，欢迎访问我的网站或在 YouTube
		频道留言！
	</p>
</Layout>
